.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 40px 120px;
    color: white;
}

.nav-logo{
    font-family: Outfit;
    font-weight: 500;
    font-size: 45px;
}

.nav-menu{
    display: flex;
    align-items: center;
    list-style: none;
    font-size: 18px;
    gap: 90px;
}

.nav-contact{
    border-radius: 50px;
    padding: 10px 38px;
    background: white;
    color: #262626;
}